<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- METAS -->
    <meta name="description" content="Portal Secretaria de Desarrollo Economico">
    <meta name="keywords" content="gobierno, michoacan, portal, sitio web, dependencia
        michoacan, cgcs, desarrollo economico">
    <meta name="author" content="Secretaria de Desarrollo Economico">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Michoacán">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="SEDECO" />
    <meta property="og:image" content="https://michoacan.gob.mx/images/michog.jpg"/>
    <meta property="og:description" content="INTRANET" />

    <!-- STYLES -->
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://michoacan.gob.mx/cdn/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://michoacan.gob.mx/cdn/css/estilos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.4/css/all.min.css"> 

     <!-- FAVICON -->
    <link rel="shortcut icon" href="https://michoacan.gob.mx/cdn/img/favicon/favicon.ico"
        type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://michoacan.gob.mx/cdn/img/favicon/appletouch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-180x180.png" />

        <!-- Font awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- https://michoacan.gob.mx/slider/ -->
    <title>SEDECO</title>
</head>
<body>
    <header>
        <div class="navbar ">
            <div class="logo"> <a href="http://localhost/michoacan.gob.mx"><img src="https://michoacan.gob.mx/cdn/img/logo.svg" height="85px;" alt="logo"></a></div>
            <ul class="links">
                <li> <a href="">Inicio</a> </li>
                <li> <a href="http://127.0.0.1:5500/views/viaticos/viaticos.html">Viaticos</a> </li>
                <li> <a href="">Noticias</a> </li>
                <li> <a href="">Salir</a> </li>
                <li> 
                    <button onclick="modifyPdf()">Modify PDF</button>
                    </li>
            </ul>


            <a href="#" class="action_btn">Secretaria de Desarrollo Economico</a>

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

        

        <div class="dropdown_menu">
            <li> <a href="">Inicio</a> </li>
            <li> <a href="">Intranet</a> </li>
            <li> <a href="">Noticias</a> </li>
            <li> <a href="">Salir</a> </li>
            <li><a href="#" class="action_btn">Secretaria de Desarrollo Economico</a></li>
        </div>
        <hr>
    </header>


    <main>

   
    


        
          <!-- Main -->
        <section id="hero">


            <form id="regForm" action="" autocomplete="off">

                <h1>Oficio de Comision</h1>
                
                <h3>Oficio</h3>
                <!-- One "tab" for each step in the form: -->
                <div class="tab autocomplete">Detalles del oficio
                 <!-- <p><input placeholder="Unidad Responsable" oninput="this.className = ''"></p> -->
                  <p><select id="idUnidadAdministrativa" class="" name="unidadAdministrativa" required="">    
                    <option value="" disabled selected hidden>Unidad Responsable</option>              
                    <option value="35"> Dirección de Inversiones                                        </option>
                    <option value="37"> Dirección de Desarrollo Empresarial y Economía Social           </option>
                    <option value="38"> Dirección de Mejora Regulatoria                 </option>
                    <option value="39"> Dirección de Comercialización                   </option>
                    <option value="41"> Dirección de Empleo Digno                       </option>
                    <option value="157"> Dirección de Gestión de Fondos y Proyectos     </option>
                    <option value="158"> Dirección de Previsión Social                  </option>
                    <option value="192"> Delegación Administrativa                      </option>
                    <option value="193"> Tecnica                                        </option>
                    <option value="194"> Oficina del Secretario                         </option>
                </select></p>

                  <p><input placeholder="Numero de Oficio" type="number" id="numOficio" oninput="this.className = ''"></p>
                  <p><input placeholder="Fecha del Oficio" type="text" id="documentDate" onfocus="(this.type='date')"></p>

                
                  <input placeholder="Lugar de la comision" id="inputCiudades" type="text"  name="inputCiudades" >

                </div>
                
                <div class="tab">Usuario
                    <p><input placeholder="Nombre Completo" id="nombreUsuario" oninput="this.className = ''"></p>
                    <p><input placeholder="Cargo" id="cargoUsuario" oninput="this.className = ''"></p>
                    <p><textarea placeholder="Descripcion detallada actividades" id="descripcionDetalles" class="bigText" oninput="this.className = ''"></textarea></p>
                    <p class="middleInputWidth" style="padding-left: 0 !important;"> Fecha de inicio <input placeholder="Fecha(s) de la comision" onfocus="(this.type='date')" id="fechaInicio"></p>
                    <p class="middleInputWidth"> Fecha de termino <input placeholder="Fecha(s) de la comision" onfocus="(this.type='date')"  id="fechaFinal"></p>
                    <p><input type="number" placeholder="Duracion Dias" disabled="true" id="duracionDias"></p>
  
                </div>
                
                <div class="tab">Vehiculo
                    <p><select id="vehicleInput" placeholder="VehiculoInput" oninput="this.className = ''">
                      <option value="Oficial">Oficial</option>
                      <option value="Particular">Particular</option>
                      <option value="Autobús">Autobús</option>
                      <option value="Otro">Otro</option>
                  </select> 
                    </p>
                    
                  <p ><select placeholder="marcaInput" id="marcaVehiculo" oninput="this.className = ''">
                    <option value="" disabled selected hidden class="disableOption">Marca</option>  
                </select>
                    </p>

                  <p ><select placeholder="tipoVehiculoInput" id="submodeloVehiculo" oninput="this.className = ''">
                    <option value="" disabled selected hidden class="disableOption">Tipo</option>  
                </select>
                    </p>   

                 <!-- <p ><select id="modeloAnio"  name="modelo" required="" class="disableOption">    
                    <option value="" disabled selected hidden>Modelo Año</option>              
                    <option value="2000"> 2000 </option>
                    <option value="2001"> 2001 </option>
                    <option value="2002"> 2002 </option>
                    <option value="2003"> 2003 </option>
                    <option value="2004"> 2004 </option>
                    <option value="2005"> 2005 </option>
                    <option value="2006"> 2006 </option>
                    <option value="2007"> 2007 </option>
                    <option value="2008"> 2008 </option>
                    <option value="2009"> 2009 </option>
                    <option value="2010"> 2010 </option>
                    <option value="2011"> 2011</option>
                    <option value="2012"> 2012 </option>
                    <option value="2013"> 2013 </option>
                    <option value="2014"> 2014 </option>
                    <option value="2015"> 2015 </option>
                    <option value="2016"> 2016 </option>
                    <option value="2017"> 2017 </option>
                    <option value="2018"> 2018 </option>
                    <option value="2019"> 2019 </option>
                    <option value="2020"> 2020 </option>
                    <option value="2021"> 2021</option>
                    <option value="2022"> 2022 </option>
                    <option value="2023"> 2023 </option>
                    <option value="2024"> 2024 </option>
                    <option value="2025"> 2025 </option>
                    <option value="2026"> 2026 </option>
                </select></p>
                -->

                <p><input placeholder="Modelo" type="text" id="modeloAuto" disabled required></p>
                </p>

                <p><input placeholder="Año" type="text" id="modeloAnio" disabled required></p>
                </p>

                <!--<p> <select id="placasInput"  name="Placas" required="">    
                    <option value="" disabled selected hidden class="disableOption">Placas</option> 

                    </select> --> 
                    <p><input placeholder="Placas" type="text" id="placasInput" disabled required></p>
                </p>
                </div>

                <div class="tab">
                    <p>Oficio de comision</p>
                    <div class="icons">
                    <div class="icon icon--pdf"><i title="pdf"></i></div>
                    <p><button type="button" class="buttonPDFGenerator" id="generatonBtn" onclick="">Descargar Oficio</button></p>
                    </div>
                    <!-- <embed src="Oficios/OFICIO COMISIÓN LZC (1).pdf" type="application/pdf" width="400px" height="640px">   -->
                </div>
                
                <div class="tab ">Recibo:
                    
                    <p><span class="input-icon"><span class="fa-solid fa-dollar-sign"></span></span> <input type="number" placeholder="Alimentacion Total" id="alimentacionDinero" class="input-with-icon" oninput="this.className = ''"></p>
                    <p><span class="input-icon"><span class="fa-solid fa-dollar-sign"></span></span> <input type="number" placeholder="Hospedaje Total" id="hotelDinero" class="input-with-icon" oninput="this.className = ''"></p>
                  
                </div>
                

                <div class="tab">Comprobacion:
                    <p> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" width="100px" height="100px" alt="" srcset=""></p>
                    <p><button type="button" class="buttonPDFGenerator" id="generatonBtn" onclick="">Generar Recibo</button></p>
                    <p></p><button type="button" class="buttonPDFGenerator" id="generatonBtn" onclick="">Generar Comprobación</button></p>
                  </div>
                  
                
                
                  <div style="overflow:auto; padding-top: 0.5rem;">
                    <div style="float:right;">
                      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                      <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                    </div>
                  </div>

                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>    
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
                
                </form>
           
        </section>
    </main>



    <footer>
        <div class="container footer-main" style="border-top-style: ridge;">
    
        <div class="row">
        <div class="col-lg-4 text-center">
        <div class="footer-logo">
        <img src="https://michoacan.gob.mx/images/logo-gris.png" class="logoFooter"
       alt="footer-logo">
        </div>
        </div>
        <div class="col-lg-4 text-center">
        <!-- Social Icons -->
        <ul class="social-icons list-inline">
        <li class="list-inline-item">
        <br>
        <a href="https://twitter.com/GobMichoacan" target="_blank"><i class="fab fa-2x fatwitter"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://www.facebook.com/gobmichoacan/" target="_blank"><i
       class="fab fa-2x fa-facebook"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://www.instagram.com/gobmichoacan/?hl=es" target="_blank"><i
       class="fab fa-2x fa-instagram"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://t.me/GobiernodeMichoacan" target="_blank"><i class="fab fa-2x fatelegram-plane"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://open.spotify.com/user/rr3zgtpveoxmy02i5t9bj9l7z"
       target="_blank"><i class="fab fa-2x fa-spotify"></i></a>&nbsp;&nbsp;
        </li>
        </ul>
        <!-- Footer Links -->
       <p>Correo institucional </p>
       <a href="#">Informatica.sedeco@gmail.com</a><br>
       
        <a href="https://wa.me/7581008128">¿Ayuda? Comunicate</a> <br>
        </div>
        <div class="col-lg-4 text-center">
        <br>
        <h4 class="texto-gris">#HonestidadyTrabajo</h4>
        </div>
        <div class="col-12">
        <hr>
        </div>
        <div class="col-12 text-center">
        © Desarrollado por el Departamento de Informatica SEDECO
        <div id="gobFooterTag"></div>
        </div>
        </div>
        </div>
        <div class="container-fluid footer-pleca">
        <div class="row">
        <div class="col">
        <br><br>
        </div>
        </div>
        </div>
       </footer>

    <script src="https://www.michoacan.gob.mx/cdn/js/jquery3.6.0.min.js"></script>
    <script src="https://www.michoacan.gob.mx/cdn/js/bootstrap.js"></script>
    <script src="../../js/index.js"></script>
    <script src="viaticos.js"></script>
   
    <script type="module" src="/db/firebase_config.js"></script>

    <!--<script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.4.0/dist/pdf-lib.min.js"></script> -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> -->
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>

    <script src="viatico_pdf_generator.js"></script>
    <script src="pdf_editor.js"></script>
    
</body>
</html>